@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Delicious+Handrawn&display=swap');



/* this is for spotify logo */
#logo-img {
    width: 160px;
    height: 45px;
    margin:20px;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: black;
}
.mainarea {
    flex: 0.82;
    padding: 0.9em;
    background-color: rgb(21, 21, 21);
    height: 100%;
    
}

.sidebar {
    flex: 0.18;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap:0.1rem;
    height: 100%;


}
#install-btn{
    background-color: transparent;
    border: none !important;
    font-size: 15px;
}
#install-btn:hover{
    cursor: pointer;
}


.topicons {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.sidedivs {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 16px;
    padding-inline: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: black; 
}
.sidebar{
    display: flex;
     background-color: black;
     width: 340px;
     justify-content: center;
}
.sidedivs>a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(211, 204, 204);
}
.sidedivs>a:hover{
    color: white;
}
.linkflex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    height: 1.375rem;
     
}
.linkflex>img{
    height: 1.375rem;
    width: 1.375rem;
}
.linkflex>a{
    text-decoration: none;
    color: rgb(211, 204, 204);
}
.linkflex>a:hover{
    color: white;
}
.linkflex:hover {
    opacity: 1;
    transition: all 0.3s;
    background-color: rgb(40,40,40);
}

.albumicons {
    width: 1rem;
    height: 1rem;
    background-color: white !important;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0.0625rem;
}

#gradient {
    background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
}

#color {
    border-radius: 0.3125rem;
    background: #004638;
}

 

 
 

.bg-black {
    background-color: black !important;
}
.midcards{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 28%;
    margin: 14px 0px;
}
.midcards::-webkit-scrollbar{
    display: none;
}

.mcard {
    display: flex;
    width: 14.625rem;
    height: 3.25rem;
    background-color: rgb(32, 32, 32);
    align-items: center;
    border-radius: 0.25rem;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0px 10px 9px 0px;
    
}

.mtext {
    margin-left: 15px;
}
.simg{
    height: 100%;
}
.see{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.see>a{
    color: rgb(181, 176, 176);
    text-decoration: none;
    margin-right: 20px;
}
.see>a:hover{
    color: white !important;
}

.sub-all{
    display:flex ;
    color: rgb(181, 176, 176);
}
.btmcards{
    display: flex;
    flex-wrap: wrap;
}
.bcard{
    padding: 9px;
    display: flex;
    flex-direction: columns;
    justify-content: space-around;
    background-color: rgb(31, 29, 29);
    margin: 0px 15px 15px 0px;
    border-radius: 0.700rem;
}
.bcard>.carditem>h5{
    margin-top: 0.8rem;
}
.bcard:hover{
    background-color: #333131;
    border-radius: 0.60rem;
}

.mcard:hover{
    background-color: #333131;
}

.carditem>img{
    border-radius: 0.865rem;
    width: 8.98613rem;
    height: 8.9955rem;

}
.carditem>p{
    color: #B3B3B3;
    font-family: DM Sans;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.00938rem;
}
.carditem>h5{
    color: #FFF;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.02625rem;
}

/*---------------------footer path------------------*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12% !important;
    background-color: rgb(24, 24, 24);
    margin-left: -12px;
}

.player{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.player-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-left > img {
    margin-right: 2rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.played-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}
.heart{
    margin: 30px;
}
.sub{
    margin-top:10px !important ;
    line-height: 0.8;
}


#singer {
    color: #938d8d;
    font-family: DM Sans;
    letter-spacing: 2px;
    margin: 0px;
    line-height: 0.8;
}


.mid-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    padding: 10px;
    color: #ffffff;
}
.mid-down>p{
    margin-left: 10px;
    margin-right: 10px;
    font-family: DM Sans;
    letter-spacing: 3px;
    margin: 10px;
    line-height: 0.8;
    font-weight: bold;
}
.player-mid {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mid-down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    color: #c4cde3;
}

.progress-bar {
    background-color: #988c8c !important;
    width: 100%;
    height: 5px;
    align-items: center;
}

.progress {
    width: 5%;
    height: 2px;
    background-color: #ffffff;
}

.mid-down > img {
    height: 5px;
    width: 22.125rem;
}

.player-right{
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center;
    color: #ffffff;
}

.rythmic:first-child, .fa:first-child {
    margin-left: 0; /* Remove margin for the first icon */
}

.rythmic:hover, .fa:hover {
    color: #18ad49;
}

.player-right>i{
    font-size:.9em;
    margin-left: 19px;
    margin-right: 10px;
    cursor: pointer;
}


.volume-bar {
    background-color: #979797;
    width: 4rem;
    height: 5px;
}

.volume {
    width: 60%;
    height: 5px;
    background-color: #ffffff;
}

/*-----------------------------------playlist part --------------------------------------------------------*/
#albumart-playlist{
    height: 15vw;   
    width: 15vw;
    margin-top: 14vw;
    border-radius: 2px;
    position: sticky;
}



* {
    margin: 0;
    padding: 0;

    color: white;
    font-family: DM sans;
}

.top-one {
    background: linear-gradient(180deg, #90AEA7 0%, #000 120%);
    height: 40%;
    display: flex;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    gap: 0.7rem;

}
#album-playlist>p{
    color: #B3B3B3;
    font-size: 0.75rem;

font-weight: 700;
line-height: 1rem; /* 133.333% */
letter-spacing: 0.075rem;
text-transform: uppercase;
}
.mainarea-playlist {
    background-color: rgb(21, 21, 21);
    flex: 0.82;
    background-color: rgb(21, 21, 21);
    height: 100%;
}

 
.midup-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}

.playermid-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middown-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;

}

.middown-playlist>img {
    height: 5px;
    width: 22.125rem;
}


.playerright-playlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-playlist {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 24, 24);
}

#foottext-playlist {
    color: #000;
    font-family: DM Sans;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: right;
}

.genre-foot {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.genre-short-text {
    color: #FFF;
    font-size: 0.9375rem;
    opacity: 0.699999988079071;
}

.genre-text {
    /* padding-top: 10.3125rem; */
    letter-spacing: 0.090rem;

}

.top-second {
    padding: 1rem;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9.6rem;
}

.top-third {
    position: relative;
    
}

.bor {
    border-bottom: 1px solid white;
    opacity: 0.10000000149011612;


}

.table-heads {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.heads-text {
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0825rem;
    opacity: 0.699999988079071;
}

/* Table Wrapper */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens if needed */
    overflow-y: scroll;
    height: 47%;
}
.table-wrapper::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
/* Table Styling */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    /* Remove cell spacing */
}

.custom-table th,
.custom-table td {
    padding: 8px 12px;
}

.custom-table th {
    /* background-color: #f2f2f2; */
    font-weight: bold;
    text-align: left;
}

.custom-table tr {
    background-color: transparent;
}

.custom-table tr:hover {
    border-radius: 0.3125rem;
    background: #ffffff1c;

}
.custom-table tr td{
    
    text-align: center;
}

.custom-table tr :first-child{
    display: flex;
    align-items: center;
    gap: 7px;
    
}
.moreMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* Large screens */
@media (min-width: 1200px) {
    
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    #album-playlist{
        gap:0.7rem;
    } 
}

/* Small screens */
@media (min-width: 592px) and (max-width: 767px) {
    .midup, .middown{
        width: 12rem;
    }
    .rytmic:nth-child(1){
        display: none;
    }
    .rytmic:nth-child(2){
        display: none;
    }
    .rytmic:nth-child(3){
        display: none;
    }
    .rytmic:nth-child(5){
        display: none;
    }
    .rytmic:nth-child(6){
        display: none;
    }
    .textonly{
        display: none;
    }
    #volumid{
        display: none;
    }
    .custom-table tr td:nth-child(3){
        display: none !important;
    }
    .top-one{
        flex-direction: column;
        align-items: flex-start;
    }
    .genre-img>img{
        height: 105px;
        width: 105px;
    }
    .genre-text{
        font-size: 9px;
    }
    .table-heads div:nth-child(3){
        display: none !important;
    }
    td{
        font-size: 12px;
    }
    
}
@media (min-width: 320px) and (max-width:591px) {
    #pl-btns{
        width: 18px;
        height: 20px;
    }
    .btns{
        width: 4.6rem;
    }
    .genre-short-text{
        display: none;
    }
    .midup-playlist, .middown-playlist{
        width: 12rem;
    }
    .rytmic:nth-child(1){
        display: none;
    }
    .rytmic:nth-child(2){
        display: none;
    }
    .rytmic:nth-child(3){
        display: none;
    }
    .rytmic:nth-child(5){
        display: none;
    }
    .rytmic:nth-child(6){
        display: none;
    }
    .textonly-playlist{
        display: none;
    }
    .moreMenu{
        flex-direction: column;
    }
    #volumid{
        display: none;
    }
    .custom-table tr td:nth-child(3){
        display: none !important;
    }
    .top-one{
        flex-direction: column;
        align-items: flex-start;
    }
    .genre-img>img{
        height: 105px;
        width: 105px;
    }
    .genre-text{
        font-size: 9px;
    }
    .table-heads div:nth-child(3){
        display: none !important;
    }
    td{
        font-size: 12px;
    }
}

/* Large screens */
@media (min-width: 1400px){
    .container{
        width: 100%;
        max-width: unset !important ;
    }
}
/* Medium screens */
@media (min-width: 768px) and (max-width: 1399px) {
    #logo-img{
        width: 7rem;
        height: 2rem;
    }
    .foot-song-img{
        height: 62px;
    }
    .sidedivs, .favalbums{
        gap:0.3rem;
    }
    .container{
        width: 100%;
        max-width: unset !important ;
    }
}

/* Small screens */
@media (min-width: 426px) and (max-width: 767px) {
    .midup, .middown{
        width: 12rem;
    }
    .rytmic:nth-child(1){
        display: none;
    }
    .rytmic:nth-child(2){
        display: none;
    }
    .rytmic:nth-child(3){
        display: none;
    }
    .rytmic:nth-child(5){
        display: none;
    }
    .rytmic:nth-child(6){
        display: none;
    }
    .textonly{
        display: none;
    }
    .sidedivs{
        gap:0.1rem;
    }
    .sidebar{
        gap:0rem;
    }
    
}
@media (max-width: 425px) {
    .midup, .middown{
        width: 12rem;
    }
    .rytmic:nth-child(1){
        display: none;
    }
    .rytmic:nth-child(2){
        display: none;
    }
    .rytmic:nth-child(3){
        display: none;
    }
    .rytmic:nth-child(5){
        display: none;
    }
    .rytmic:nth-child(6){
        display: none;
    }
    .textonly{
        display: none;
    }
    
    .sidedivs{
        gap:0.1rem;
    }
    .sidebar{
        gap:0rem;
    }
    .h2, .see>a{
        font-size: 14px;
    }
}